.modal_wrapper {
  width: 700px;
  height: 570px;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  outline: 9999px solid rgba(0, 0, 0, 0.9);
  font-family: "Roboto", sans-serif;
  button.close_btn {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 30px;
    font-size: 15px;
    font-weight: 500;
    color: $main-background;
    border: none;
    padding: 0px;
    z-index: 30;
  }
  .close_btn:hover {
    //color: $no-background;
    background-color: $main-background;
    color: $body-color;
  }
  .background_poster {
    height: 50%;
    width: 100%;
    background-color: $body-color;
    .poster_text {
      position: fixed;
      top: 15%;
      left: 40%;
      z-index: 20;
      //font-family: 'Roboto', sans-serif;
      .modal_movie_title {
        color: deeppink;
        font-size: x-large;
        margin-bottom: 0px;
        font-weight: 500;
      }
      .tagline {
        margin-top: 0px;
        color: $main-background;
        font-weight: 100;
        font-size: 0.9rem;
      }
    }
    img {
      width: 100%;
      max-height: 100%;
      filter: brightness(35%);
    }
  }
  .movie_info {
    width: 100%;
    background-color: $main-background;
    padding: 12px 22px 20px 40%;
    height: 50%;
    .overview {
      height: 45%;
      overflow: auto;
      margin-bottom: 20px;
    }
    .overview,
    .genres,
    .date {
      font-size: 0.8rem;
      font-weight: 100;
    }
    .genres,
    .date {
      margin: 0px;
    }
    .title {
      color: deeppink;
      margin-bottom: 0px;
      margin-top: 10px;

      //margin-bottom: -10px;
    }
  }
  .main_img {
    img {
      position: fixed;
      left: 5%;
      top: 7%;
      max-width: 14rem;
      max-height: 20rem;
    }
  }
}
