#side_bar ul li {
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $main-background;
  color: $menu-color;
  font-size: 9px;
  letter-spacing: 0.5px;
  font-weight: 300;
  cursor: pointer;
  svg {
    height: 20px;
    width: 20px;
    fill: $menu-color;
  }
}
#logo {
  height: 75px !important;
  background-color: $my-pink;
  img {
    width: 45px;
    height: 40px;
  }
}
