@import "colors";
@import "side_bar";
@import "search_area";
@import "movies";
@import "movies_item";
@import "modal_movie_details";

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  color: $body-color;
  line-height: 1.6;
}

#app {
  display: flex;
  z-index: 1;
  #side_bar {
    width: 6%;
    position: fixed;
    left: 0%;
    margin-left: 0px;
    ul {
      list-style: none;
      padding-inline-start: 0px;
      margin-block-start: 0%;
    }
  }
}

#main_area {
  width: 94%;
  position: relative;
  left: 6%;
}
.scroll_area {
  margin-top: 75px;
  #main_image {
    background-color: blue;
    height: 383px;
    overflow: hidden;
    img {
      margin-top: -23%;
      margin-left: -4%;
      -webkit-filter: sepia(70%);
      opacity: 0.8;
    }
    #main_text {
      position: absolute;
      top: 10%;
      left: 13%;
      z-index: 3;
      #app_title {
        color: $main-background;
        font-weight: 100;
        font-size: large;
      }
      #tmdb {
        color: $my-pink;
        font-size: xx-large;
        font-weight: 500;
      }
    }
  }
}

.hidden {
  display: none;
}

.load_more {
  text-align: center;
  padding: 25px 0px;
}

button {
  @include styleBox();
}
button:hover {
  background-color: $body-color;
  color: $main-background;
}
.no_cursor {
  cursor: none;
}
.selected {
  background-color: $main-background;
}
.modal_open {
  //background-color: rgba(0, 0, 0, 0.5);
  //opacity: 0.5;

  cursor: text !important;
}
