#movies {
  padding: 30px;
}
#movies #main_screen {
  padding: 0px 30px;
  margin-top: 20px;
}
#movies #main_screen .wrapper {
  width: 100%;
  margin-bottom: 50px;
}
#movies #main_screen .wrapper .movies_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 15px;
}
#movies #main_screen .wrapper .movies_header .movies_title {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #081c24;
  font-weight: 300;
  text-transform: capitalize;
}
#movies #main_screen .wrapper .movies_header .movies_link {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgba(8, 28, 36, 0.5);
}
#movies #main_screen .wrapper .movies_header .movies_link .view_all {
  cursor: pointer;
}
#movies #main_screen .wrapper .movies_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  list-style: none;
}

.movies_item {
  width: 20%;
  max-height: 100%;
  padding: 0px 30px;
  margin-bottom: 25px;
}
.movies_item .movies_item_content {
  cursor: pointer;
}
.movies_item .movies_item_content .movies_item_poster {
  display: flex;
  justify-content: center;
}
.movies_item .movies_item_content .movies_item_poster img {
  max-width: 100%;
  max-height: 300px;
}
.movies_item .movies_item_content p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-top: 15px;
  color: rgba(8, 28, 36, 0.5);
}

.modal_wrapper {
  width: 600px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  outline: 9999px solid rgba(0, 0, 0, 0.9);
}
.modal_wrapper button.close_btn {
  position: fixed;
  top: 3%;
  right: 3%;
  height: 25px;
  width: 25px;
  font-size: 15px;
  font-weight: 500;
  color: grey;
  border: none;
  padding: 0px 2px;
}
.modal_wrapper .close_btn:hover {
  color: white;
}
.modal_wrapper .background_poster {
  height: 50%;
  width: 100%;
  background-color: #081c24;
}
.modal_wrapper .background_poster img {
  width: 100%;
  max-height: 100%;
}
.modal_wrapper .movie_info {
  height: 50%;
  width: 100%;
  background-color: #f8f8f8;
  /* spacing as needed */
  padding: 20px 50px 20px 20px;
  /* let it scroll */
  overflow: auto;
}
.modal_wrapper .main_img img {
  position: fixed;
  left: 5%;
  top: 5%;
  max-width: 15rem;
  max-height: 20rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  color: #081c24;
  line-height: 1.6;
}

#app {
  display: flex;
  z-index: 1;
}
#app #side_bar {
  width: 6%;
  position: fixed;
  left: 0%;
  margin-left: 0px;
}
#app #side_bar ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0%;
}

#side_bar ul li {
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
  color: rgba(8, 28, 36, 0.5);
  font-size: 9px;
  letter-spacing: 0.5px;
  font-weight: 300;
  cursor: pointer;
}
#side_bar ul li svg {
  height: 20px;
  width: 20px;
  fill: rgba(8, 28, 36, 0.5);
}

#logo {
  height: 75px !important;
  background-color: black;
}
#logo img {
  width: 45px;
  height: 40px;
}

#main_area {
  width: 94%;
  position: relative;
  left: 6%;
}
#main_area #search_area {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-inline-start: 50px;
  position: fixed;
  background-color: white;
}
#main_area #search_area #search_icon {
  width: 18px;
  height: 18px;
  fill: rgba(8, 28, 36, 0.5);
}
#main_area #search_area input {
  border: none;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  padding: 15px 12px;
  font-family: "Roboto", "sans-serif";
}
#main_area #search_area input:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#main_area .scroll_area {
  margin-top: 75px;
}
#main_area .scroll_area #main_image {
  background-color: blue;
  height: 383px;
}

.hidden {
  display: none;
}

.load_more {
  text-align: center;
  padding: 25px 0px;
}

button {
  border: 1px solid #081c24;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.5px;
  padding: 5px 20px 4px;
  cursor: pointer;
  color: #081c24;
  background: transparent;
  outline: none;
}

button:hover {
  background-color: #081c24;
  color: #f8f8f8;
}

.no_cursor {
  cursor: none;
}

.selected {
  background-color: #f8f8f8;
}

.modal_open {
  cursor: text !important;
}

/*# sourceMappingURL=style.css.map */
